name: Publish Bibliocorp

on:
  workflow_dispatch:
  push:
    branches:
    - main

env:
  AZURE_WEBAPP_NAME: bibliocorp
  AZURE_WEBAPP_PACKAGE_PATH: "./publish"

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x'
          
      - name: Restore
        run: dotnet restore src/BibliotecaCorporativa/backend/BibCorp.sln

      - name: Build
        run: dotnet build src/BibliotecaCorporativa/backend/BibCorp.sln --configuration Release --no-restore

      - name: Install Dependencies
        run: npm install
        working-directory: src/BibliotecaCorporativa/frontend/BibCorp-app
        
      - name: Publish
        run: dotnet publish src/BibliotecaCorporativa/backend/BibCorp.sln --configuration Release --no-build --output '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}'
        
      - name: Deployment
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"
